<li id="current-release" class="widget widget_text">
  <h2 class="widgettitle">Current Release: <a href="http://www.mackframework.com/category/releases/"><%= current_release %></a></h2>
  <div class="textwidget"><p><pre>$ sudo gem install mack</pre></p></div>
</li>