<p>
  <%= :page.text_field :title, :label => true, :size => 50 %>
</p>
<p>
  <%= :page.text_field :author, :label => true, :size => 50 %>
</p>
<h4><%= popup("Textile Help", "http://hobix.com/textile/quick.html") %></h4>
<p>
  <%= :page.text_area :body, :label => true, :cols => 64, :rows => 40 %>
</p>