<div id="nav">
  <ul>
    <li><a href="http://www.mackframework.com">home</a></li>
<li class="page_item page-item-2"><a href="http://www.mackframework.com/about/" title="about">about</a></li>
<li class="page_item page-item-5"><a href="http://www.mackframework.com/archives/" title="archives">archives</a></li>
<li class="page_item page-item-11"><a href="http://www.mackframework.com/contribute/" title="contribute">contribute</a></li>
<li class="page_item page-item-95 current_page_item"><a href="http://www.mackframework.com/support/" title="support">support</a></li>
<li><a href="<%= home_page_url %>">wiki/tutorials</a></li>   </ul>
</div>