<h1>Edit Page</h1>

<%= error_messages_for :page %>

<% form(pages_update_url(:id => @page.id), :class => "edit_page", :id => "edit_page", :method => :put) do %>
  <%= render(:partial, :form) %>
  <p>
    <%= submit_button("Update", :class => :submit_button) %>
  </p>
<% end %>

<%= link_to("Back", wiki_page_url(:url => @page)) %>
