<h1>Listing Pages</h1>
<% for page in @pages %>
  <h4><%= link_to(page.title, wiki_page_url(:url => page.url)) %> by <%= page.user.display_name %></h4>
<% end %>

<br />

<%= link_to("New Page", pages_new_url) %>
