<h1>New Page</h1>

<%= error_messages_for :page %>

<% form(pages_create_url, :class => "new_page", :id => "new_page") do %>
  <p>
    <%= :page.text_field :url, :label => true %>
  </p>
  <%= render(:partial, :form) %>
  <p>
    <%= submit_button("Create") %>
  </p>
<% end %>
