<li id="recent-posts" class="widget widget_recent_entries">
  <h2 class="widgettitle">Newest Pages</h2>
  <ul>
    <% for page in @pages -%>
    <li><%= link_to(page.title.truncate(25), wiki_page_url(:url => page.url)) %></li>
    <% end -%>
  </ul>
</li>